h1 {
  font-family: "Playfair Display", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}
